body {
        color: aliceblue;
        font-family: sans-serif;
        font-weight: 30px;
        font-size: 17px;
        background: linear-gradient(50deg, #00ffff, #ff02ff);
        height: 525vh;
      }
      .head {
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        width: 97%;
        height: 60px;
        border-radius: 20px;
        font-size: 15px;
        color: rgb(35, 212, 198);
        transform: translateX(0px);
        animation: intro 2s cubic-bezier(0, 0, 0.62, 1.05);
      }
      .head img {
        width: 80px;
        border-radius: 50%;
      }

      .main {
        margin: auto;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: 400px;
        background: transparent;
        padding: 2px 20px 20px 20px;
        border-radius: 30px;
        margin-top: 10%;
        box-shadow: 2px rgb(138, 6, 226);
        animation: intro 2s cubic-bezier(0, 0, 0.62, 1.05);
      }
      @keyframes intro {
        from {
          transform: translateX(-600px);
        }

        to {
          transform: translateX(0px);
        }
      }
      h1:hover {
        color: rgba(145, 2, 56, 0.644);
        text-shadow: 1 1 3px #ff0000, 3 2 5px #0000ff;
      }
      .main:hover {
        background: transparent;
        box-shadow: 0px 3px 15px rgba(73, 74, 77, 0.5);
      }
      button {
        background: transparent;
        box-shadow: -8px -8px 15px rgba(117, 91, 91, 0.623);
        color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 15px;
        border: none;
        outline: none;
        border-radius: 30px;
        cursor: pointer;
        width: 50%;
        font-weight: 900;
        transition: 0.2s ease;
      }

      button:hover {
        background: transparent;
        box-shadow: 0 0 10px rgb(73, 71, 78);
        border-style: solid;
        border-style: 10px;
        border-color: rgba(172, 91, 209, 0.4);
      }
      .output:hover {
        background: transparent;
        box-shadow: 0px 3px 15px rgba(73, 74, 77, 0.5);
      }
      .output {
        margin: auto;
        padding: 2px 20px 20px 20px;
        border-radius: 30px;
        display: flex;
        gap: 1px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
        width: fit-content;
        background: transparent;
        height: 435vh;
        width: 400px;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 20px;
        animation: inro2 2s ease-out;
      }

      @keyframes inro2 {
        from {
          transform: translateY(900px);
        }

        to {
          transform: translateY(0px);
        }
      }
      h1 {
        color: rgb(255, 255, 255);
        /* color: rgb(168, 1, 245); */
      }